body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f8ff;
}

header {
  background: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #001c55;
}

.hero, .about {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  align-items: center;
}

.hero .text h2 {
  font-size: 2rem;
}

.button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #4662ff;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}
